{% extends '@Ecommerce/Administration/template/template.html.twig' %}

{% block contenair %}

    <div class="row text-center cart">
        <div class="col-md-12">
            <div class="alert-info text-center"><h3 class="font-bold alert-info">Oops Erreur 404! La page n'existe pas.</h3></div>
        </div>
    </div><!-- End/.row -->
    <hr>
    <div class="error-404 text-center">
        <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>


        <div class="error-desc">
            Désolé, mais la page que vous recherchez n'a pas été trouvée ou n'existe pas. <br/>
            Essayez de rafraîchir la page ou cliquez sur le bouton ci-dessous pour revenir à la page d'accueil.
            <div><br/>
                <!-- <a class=" login-detail-panel-button btn" href="http://vultus.de/"> -->
                <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
            </div>
        </div>
    </div>

{% endblock contenair %}








