{#<ul class="pagination">#}
    {#<li class="page-item disabled">#}
        {#<span class="page-link">Previous</span>#}
    {#</li>#}
    {#<li><a href="#">1</a></li>#}
    {#<li class="active"><a href="#">2</a></li>#}
    {#<li><a href="#">3</a></li>#}
    {#<li><a href="#">4</a></li>#}
    {#<li><a href="#">5</a></li>#}
    {#<li class="page-item">#}
        {#<span class="page-link">Next</span>#}
    {#</li>#}
{#</ul>#}
<div class="navigation">
    {{  knp_pagination_render(product) }}
</div>