{% extends "@FOSUser/Template/layout/layout_register.html.twig" %}

{% block fos_user_content %}

    <div class="col-md-12">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>

{% endblock fos_user_content %}
