{#<!-- Title -->#}
<div class="col-md-8">
    <hr>
    {% block hr %}
    {#<h4>Promotions</h4>#}
    {% endblock hr %}
    <hr>

    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h4>Feature Label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Buy Now!</a> <a href="#" class="btn btn-default btn-sm">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h4>Feature Label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Buy Now!</a> <a href="#" class="btn btn-default btn-sm">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h4>Feature Label</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary btn-sm">Buy Now!</a> <a href="#" class="btn btn-default btn-sm">More Info</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
</div>