{% for flashMessage in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        <p>{{ flashMessage }}</p>
    </div>
{% endfor %}

        {% for flashMessage in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger">
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashBag.get('warning') %}
            <div class="alert alert-warning">
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashBag.get('notice') %}
            <div class="alert alert-info">
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}