{% extends '@Ecommerce/Administration/template/template.html.twig' %}

{% block contenair %}

    <div class="row text-center validate">
        <div class="col-md-1 pull-left">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-hand-right"></span> Validation de commandes
            </button>
        </div>
        <div class="col-md-10">

        </div>
    </div><!-- End/.row -->
    <hr>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-responsive text-center">
                <thead class="thead">
                <tr>
                    <th  class="text-center">Produits</th>
                    <th  class="text-center">Réference</th>
                    <th  class="text-center">Quantité</th>
                    <th  class="text-center">Total HT</th>
                </tr>
                </thead>
                <tbody>
                {% for i in 0..2 %}
                    <tr>
                        <td class="thumbnail col-md-1">
                            <img src="{{ asset('img/lenovo_portable.png') }}" alt=""></td>
                        <td>A12345</td>
                        <td class="col-md-1">
                            2
                        </td>
                        <td>10,99€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <dl class="dl-horizontal pull-right text-center total">
                <dt>Total HT :</dt>
                <dd>10,99€</dd>

                <dt>TVA :</dt>
                <dd>20€</dd>

                <dt>Total TTC:</dt>
                <dd>30,99€</dd>
            </dl>
            <div class="clearfix"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2 pull-left">
            <button class="page-item disabled btn-sm btn-primary">
                <span class="page-link"><<  Annuler</span>
            </button>
        </div>

        <div class="col-md-offset-8"></div>

        <div class="col-md-2 pull-right">
            <button class="page-item disabled btn-sm btn-primary">
                <span class="page-link">Paaser au payement  >></span>
            </button>
        </div>
    </div>

{% endblock contenair %}




