<div class="sidebar left ">
    <ul class="list-sidebar bg-defoult">
        <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active" >
                <i class="fa fa-th-large"></i> <span class="nav-label"> Paramètres </span> <span class="fa fa-chevron-left pull-right"></span> </a>
            <ul class="sub-menu collapse text-left" id="dashboard">
                <li><a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Mes informations</span></a></li>
                <li><a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Mes factures</span></a></li>
                <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-files-o"></i> <span class="nav-label">Changer mot de passe</span></a></li>
                <li><a href="{{ path('ecommerce_addUserAddress') }}"><i class="fa fa-files-o"></i> <span class="nav-label">Ajouter une adresse</span></a></li>
            </ul>
        </li>
    </ul>
</div>
