body, html{
    height: 100%;
}

body{
    padding: 0;
}

.container{
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position: relative;
}

#myCarousel{
    padding: 0;
    margin-top: 0;
}

#footer{
    margin-top: 20px;
    background-color: #3c3c3c;
    /*height: 120px;*/
    /*padding: 10px;*/
    width:100%;
}

#footer h5{
    padding-top: 10px;
    color: white;
}

#footer p{
    color: white;
}

#footer span{
    color: darkgray;
}

#footer ul li{

}

/*sidebar left*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
a {
    background-color: transparent;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}

/***********************  TOP Bar ********************/
.sidebar{ width:220px;  background-color:#000;transition: all 0.5s  ease-in-out; }
.bg-defoult{background-color:#222;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}


.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
.sidebar.fliph {
    width: 42px;transition: all 0.5s  ease-in-out;

}

.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}

.form-row ul li {
    color: red;
}


/*dropdownmenu*/
#navbar .hover {
    background-color: #101010;
}

#navbar .hover li a{
    color: grey;
}

#navbar .hover li a:hover {
    background-color: #101010;
    color: white;
}

/*hr header*/
.hr {
    border-color:transparent;
    margin-top: -10px;
}


/*shoppingcart*/
.thead {
    background-color:gainsboro;
}

.total {
    background-color:gainsboro;
    padding: 10px;
}

.cart{
    margin-top: 15%;
}

.validate{
    margin-top: 15%;
}

/*form contact*/
.form{
    width:70%;
    margin: auto;
}

/*FOSUserbundle*/
.login{
    margin-top: 15%;
}

.login_block{
    margin: auto;
    border: solid lightgrey 1px;
    border-radius: 5px;
    padding: 25px;
}

.checkmail{
    margin-top: 15%;
}

.confirmed{
    margin-top: 15%;
}

/*register*/
.register{
    margin-top: 15%;
}

.register_form{
    margin: auto;
    border: solid lightgrey 1px;
    border-radius: 5px;
    padding: 25px;
}

.register_form p{
    font-family: "Comic Sans MS", sans-serif;
    font-size: medium;
    text-align: center;
}


.register_submit{
    width: 100%;
}

.resetting{
    margin-top: 15%;
}

.show{
    margin-top: 15%;
}

/*admin*/
.admin{
    margin-top: 15%;
}

/*page-contact*/
#contact li{
    color: red;
}


/*accordeon cgv*/
#wrapper{
    width:100%;
    margin:0 auto;
}

h3, .content{
    border:1px solid #CCCCCC;
    border-radius: 5px;
    padding:5px;
}

.content{
    display: none;
}

h3{
    margin:0;
    background-color: white;
    color:#CCCCCC;
}

.active{
    color:#000000;
    background-color: #EEEEEE;
}

h3:hover{
    cursor:pointer;
}

/*product homepage*/
.product_info h4{
    background-color: #e1edf7;
    padding:5px;
    border-radius: 3px;
    opacity: 0.6;
}

.product_info p{
    background-color: #dedede;
    padding:5px;
    border-radius: 3px;
}

.price{
    font-family: "Adobe Gothic Std B";
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
}

/*sidebar-css*/
#sidebar a:hover{
    background-color:#d00050;
    color: white;
}

#sidebar img{
    align-items: center;
}

#sidebar{
    background-color:lightgrey!important;
}

#sidebar .list_group{
    background-color:white!important;
}

#sidebar .profile p{
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
}

/*menu accordeon*/
#sidebar-accordeon {
    padding:0;
    margin:0;
    list-style:none;
}

#sidebar-accordeon .list{
    padding: 10px;
    border-radius: 2px;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: 200;
}

#sidebar-accordeon .list:hover{
    background-color:#d00050;
    color: white;

}

#sidebar-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
}

#sidebar-accordeon .list_group li a{
    padding: 10px;
    margin:0;
    text-align: left;
    border: solid 1px beige;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: 500;
}

#sidebar-accordeon .list_group li{
    background-color:white;
}

#sidebar-accordeon li {
    background-color: #f8f8f8;
    border-radius: 2px;
    margin:0;
    padding: 0;
    border:solid 1px beige;
}

#sidebar-accordeon li li {
    max-height:0;
    overflow: hidden;
    transition: all .10s;
    border-radius:0;
    box-shadow: none;
    border:none;
    margin:0;
    color: black;
}

#sidebar-accordeon a {
    display:block;
    text-decoration: none;
    padding: 4px 0;
    color: black;
}

#sidebar-accordeon .list_group li a:hover {
    background-color:cornflowerblue ;
    color: white;
}

#sidebar-accordeon ul li a, #sidebar-accordeon li:hover li a {
    font-size:1em;
}

#sidebar-accordeon li li:hover {
    background-color:#d00050;
    color: white;
}

#sidebar-accordeon ul li:last-child {
    border:none;
}

#sidebar-accordeon li:hover li {
    max-height: 15em;
    color: white;
}
