{% extends '@Ecommerce/content.html.twig' %}

{% block contenair %}

    <div class="row">
        <div class="col-md-12">
            <h2>Services et prestations</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <p><strong>Installation :</strong> Windows € / Mac € </p>
                <p><strong>Disque Dur :</strong> Récuperation des données €</p>
                <p><strong>Ecran Pc portable :</strong> 15,6'  Remplacement € / Réparation €  ; 17,3'  Remplacement € / Réparation € </p>
                <p><strong>Intervention à domicile :</strong> Particuliers € / Professionnels €</p>
            </div>
        </div>
    </div>

{% endblock contenair %}